

{% block content %}

{% if application_form %}
<form action="{{url_for('main.apply', position_id = p.id)}}" method="post" class = "mt-4">
    {{ application_form.hidden_tag() }}
    <p>Interest</p>
    {{ application_form.statement.label(class="form-text") }}<br>
    {{ application_form.statement(class="forminput form-text", style = "width: 100%") }}<br>
    {% for error in application_form.statement.errors%}
    <span style="color: red"> [{{error}}]</span><br>
    {% endfor %}
    
    <p>Request Faculty Reference</p>

    {{ application_form.reference.label(class = "form-text") }}<br>
    {{ application_form.reference(class="forminput form-text", style = "width: 100%") }}<br>
    {% for error in application_form.reference.errors%}
        <span style="color: red"> [{{error}}]</span><br>
    {% endfor %}

    {{application_form.submit(class = "btn btn-secondary mb-5 mt-3")}}
</form>

{% endif %}
{% endblock %}