{% block content %}

{% set unique_id = 'info_' ~ range(1000, 99999) | random %} {# Generates a (most likely) unique ID for each card #}

<div class="card mb-3 mt-4">
    <button
        class="card-header btn btn-link text-decoration-none w-100 d-flex justify-content-between align-items-center toggle-btn"
        type="button" data-bs-toggle="collapse" data-bs-target="#{{ unique_id }}" aria-expanded="false"
        aria-controls="{{ unique_id }}">

        <div class="d-flex align-items-center">
            <span class="me-3">{{ p.title }}</span>  {# Adds margin to separate title and status #}
            
            {% if current_user.is_authenticated and current_user.type == 'student' %}
                {% set application = current_user.get_applications() | selectattr("position_id", "equalto", p.id) | list | first %}
                
                {% if application %}
                    {% if not application.faculty_responded %}
                        <span class="status-tag pending">Pending</span>
                    {% elif application.is_accepted %}
                        <span class="status-tag accepted">Accepted</span>
                    {% else %}
                        <span class="status-tag rejected">Rejected</span>
                    {% endif %}
                {% else %}
                    <span class="status-tag not-applied">Not Applied</span>
                {% endif %}
            {% endif %}
        </div>    
        
        <span class="bi bi-caret-down-fill icon"></span>
    </button>
    <div class="collapse" id="{{ unique_id }}">
        <div class="card-body">
            <p><strong>Description:</strong> {{p.description}}</p>
            <p><strong>Dates:</strong> {{p.start_date}} to {{p.end_date}}</p>
            <p><strong>Number Hiring:</strong> {{p.student_count}} students</p>
            <p><strong>Time Commitment:</strong> {{p.req_time}} hours per week</p>
            <p><strong>Research Field(s):</strong>
                {% for f in p.fields %}
                <span class="rounded-pill border border-1 m-1 p-2">
                    {{f.name}}
                </span>
                {% endfor %}
            </p>
            <p><strong>Programming Experience Required:</strong>
                {% for l in p.languages %}
                <span class="rounded-pill border border-1 m-1 p-2">
                    {{l.name}}
                </span>
                {% endfor %}
            </p>
            {% if current_user.type == 'student' %}
            <p><strong>Faculty Member:</strong>
                <span class="rounded-pill border border-1 m-1 p-2">
                    {{p.faculty.firstname}} {{p.faculty.lastname}}
                </span>
            </p>
                {% if current_user.is_applied(p) == False %}
                <form action="{{url_for('main.apply', position_id = p.id)}}" method= "POST">
                    {{ form.hidden_tag() }}
                    {{ form.submit(value='Apply', class='btn btn-secondary') }}
                </form>
                {% endif %}
            {% elif current_user.type == 'faculty' %}
            <p><strong>Applying Student(s):</strong>
                {% for s in p.students %}
                <span class="rounded-pill border border-1 m-1 p-2">
                    {{s.name}}
                </span>
                {% endfor %}
            </p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}