{% block content %}

{% set unique_id = 'info_' ~ range(1000, 99999) | random %} {# Generates a (most likely) unique ID for each card #}

<div class="card mb-3 mt-4">
    <button
        class="card-header btn btn-link text-decoration-none w-100 d-flex justify-content-between align-items-center toggle-btn"
        type="button" data-bs-toggle="collapse" data-bs-target="#{{ unique_id }}" aria-expanded="false"
        aria-controls="{{ unique_id }}">

        <div class="d-flex align-items-center">
            <span class="me-3">{{ p.title }}</span>  {# Adds margin to separate title and status #}
            
            {% if current_user.is_authenticated and current_user.type == 'student' %}
                {% set application = current_user.get_applications() | selectattr("position_id", "equalto", p.id) | list | first %}
                
                {% if application %}
                    {% if application.app_is_accepted == None %}
                        <span class="status-tag pending ms-2">Application Pending</span>
                    {% elif application.app_is_accepted %}
                        <span class="status-tag accepted ms-2">Application Accepted</span>
                    {% else %}
                        <span class="status-tag rejected ms-2">Application Rejected</span>
                    {% endif %}

                    {% if application.ref_is_accepted == None %}
                        <span class="status-tag pending ms-2">Reference Pending</span>
                    {% elif application.ref_is_accepted %}
                        <span class="status-tag accepted ms-2">Reference Accepted</span>
                    {% else %}
                        <span class="status-tag rejected ms-2">Reference Rejected</span>
                    {% endif %}
                {% else %}
                    <span class="status-tag not-applied ms-2">Not Applied</span>
                {% endif %}
            {% endif %}
        </div>    
        
        <span class="bi bi-caret-down-fill icon"></span>
    </button>
    <div class="collapse" id="{{ unique_id }}">
        <div class="card-body">
            <p><strong>Description:</strong> {{p.description}}</p>
            <p><strong>Dates:</strong> {{p.start_date}} to {{p.end_date}}</p>
            <p><strong>Number Hiring:</strong> {{p.student_count}} students</p>
            <p><strong>Time Commitment:</strong> {{p.req_time}} hours per week</p>
            <p><strong>Research Field(s):</strong>
                {% for f in p.fields %}
                <span class="rounded-pill border border-1 m-1 p-2" style="background-color: #F8F9FA;">
                    {{f.name}}
                </span>
                {% endfor %}
            </p>
            <p><strong>Programming Experience Required:</strong>
                {% for l in p.languages %}
                <span class="rounded-pill border border-1 m-1 p-2" style="background-color: #F8F9FA;">
                    {{l.name}}
                </span>
                {% endfor %}
            </p>
            
            <table class="table table-bordered">
                <thead class="table-light">
                    <tr>
                        <th>Faculty Member</th>
                        <th>Email</th>
                        <th>Phone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ p.faculty.firstname }} {{ p.faculty.lastname }}</td>
                        <td><a href="mailto:{{ p.faculty.email }}">{{ p.faculty.email }}</a></td>
                        <td><a href="tel:{{ p.faculty.phone_num }}">{{ p.faculty.phone_num }}</a></td>
                    </tr>
                </tbody>
            </table>
            
            {% if current_user.type == 'student' %}
                {% if current_user.is_applied(p) == False %}
                <button id = "apply" type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#applyModal_{{ p.id }}">
                    Apply
                </button>
                {% elif current_user.is_approved(p) != true %}
                <form action="{{url_for('main.withdraw', position_id = p.id)}}" method= "POST">
                    {{ empty_form.hidden_tag() }}
                    {{ empty_form.submit(value='Withdraw', class='btn btn-danger') }}
                </form>
                {% endif %}
            {% elif current_user.type == 'faculty' %}
            <p><strong>Applying Student(s):</strong>
            <div class = "border border-1 mt-1 mb-1 p-2 rounded-2">
                    {% if p.applicants %}
                        {% for application in p.applicants %}
                            <a href="{{ url_for('main.view_application', student_id=application.student_id, position_id = application.position_id) }}" class="btn btn-light rounded-4 border border-1 m-1 p-2">
                                {{application.student_applied.firstname + " " + application.student_applied.lastname}}
                                {% if application.app_is_accepted == None %}
                                    <span class="status-tag pending p-1 ms-2">Application Pending</span>
                                {% elif application.app_is_accepted %}
                                    <span class="status-tag accepted p-1 ms-2">Application Accepted</span>
                                {% else %}
                                    <span class="status-tag rejected p-1 ms-2">Application Rejected</span>
                                {% endif %}

                                {% if application.ref_is_accepted == None %}
                                    <span class="status-tag pending p-1 ms-2">Reference Pending</span>
                                {% elif application.ref_is_accepted %}
                                    <span class="status-tag accepted p-1 ms-2">Reference Accepted</span>
                                {% else %}
                                    <span class="status-tag rejected p-1 ms-2">Reference Rejected</span>
                                {% endif %}
                            </a>
                        {% endfor %}
                    {% else %}
                        <span class = "text-secondary">There aren't any applicants for this position</span>
                    {% endif %}
                </div>
            </p>
            {% endif %}
        </div>
    </div>
</div>

<!-- Modal for Application Form -->
<div class="modal fade" id="applyModal_{{ p.id }}" tabindex="-1" aria-labelledby="applyModalLabel_{{ p.id }}" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="applyModalLabel_{{ p.id }}">Apply for {{ p.title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% include '_apply.html' %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    async function apply(position_id){
        const url = "{{ url_for('main.apply', position_id = 'position_id') }}".replace("position_id", position_id);
        try {
            const response = await fetch(url);
            if (!response.ok){
                throw new Error(`Response status: ${response.status}`);
            }
            const json = await response.json();
            console.log(json);
            update_application(position_id, json);
        } catch(error) {
            console.error(error.message)
        }
    }

    async function withdraw(position_id){
        const url = "{{ url_for('main.withdraw', position_id = 'position_id') }}".replace("position_id", position_id);
        try {
            const response = await fetch(url);
            if (!response.ok){
                throw new Error(`Response status: ${response.status}`);
            }
            const json = await response.json();
            console.log(json);
            update_application(position_id, json);
        } catch(error) {
            console.error(error.message)
        }
    }

    function update_application(position_id, data){
        let postposition = document.getElementById(`position-${position_id}`)
    }
</script>    
{% endblock %}