{% extends "base.html" %}

{% block content %}
    <h1 class = "mt-1">Display Profile</h1>
    <div class = "border rounded-3 bg-light p-3 mt-3 mb-1">
        <h4 class = "mb-3"> WPI ID: {{user.wpi_id}} </h4>
        <p> <b>Name:</b> {{user.firstname}} {{user.lastname}} </p>
        <p> <b>Username:</b> {{user.username}} </p>
        <p> <b>Email:</b> {{user.email}} </p>
        <p> <b>Phone Number:</b> {{user.phone_num}} </p>
        {% if user.type == "student" %}
        <p> <b>Major:</b> {{user.major}}</p>
        <p> <b>GPA:</b> {{user.gpa}} </p>
        <p> <b>Graduation Date:</b> {{user.grad_date}} </p>
        <p><strong>Research Field(s):</strong>
            {% for f in user.fields %}
            <span class="rounded-pill border border-1 m-1 p-2">
                {{f.name}}
            </span>
            {% endfor %}
        </p>
        <p><strong>Programming Experience Required:</strong>
            {% for l in user.languages %}
            <span class="rounded-pill border border-1 m-1 p-2">
                {{l.name}}
            </span>
            {% endfor %}
        </p>
        {% endif %}
    </div>
    <br>

    {% if current_user == user %}
    <p>
        <a href="{{url_for('main.edit_profile')}}" class="btn btn-secondary">Edit Profile</a>
    </p>
    {% endif %}

    <h2 class = "mt-4">Your Recommendation Requests</h2>
    {% if current_user.type == "faculty" %}
        {% if request_apps %}
            {% for a in request_apps %}
                {% include "_request.html" %}
            {% endfor %}
        {% else %}
            <p> You do not have any pending recommendation requests </p>
        {% endif %}
    {% endif %}
{% endblock %}