{% extends "base.html" %}

{% block content %}
<!-- TODO: Use for loop instead -->
<div class="container mt-4">
    <h2>Research Positions</h2>
    {% for p in positions %}
    {% include '_position.html' %}
    {% endfor %}
</div>

<script>
    document.querySelectorAll('.toggle-btn').forEach(button => {
        button.addEventListener('click', function () {
            let icon = this.querySelector('.icon');
            icon.classList.toggle('bi-caret-down-fill');
            icon.classList.toggle('bi-caret-up-fill');
        });
    });
</script>
{% endblock %}