{% extends "base.html" %}

{% block content %}

<div class="container mt-4">
    {% if current_user.type == "faculty" %}
        <h2>My Research Positions</h2>
    {% else %}
        <h2>Research Positions</h2>
    {% endif %}
    {% if positions %}
        {% for p in positions %}
            {% if p.faculty.username == current_user.username or current_user %}
                {% include '_position.html' %}
            {% endif %}
        {% endfor %}
    {% else %}
        {% if current_user.type == "faculty" %}
            <p>You have not yet posted any positions</p>
        {% else %}
            <p>There are no open positions available</p>
        {% endif %}
    {% endif %}
</div>

<script>
    document.querySelectorAll('.toggle-btn').forEach(button => {
        button.addEventListener('click', function () {
            let icon = this.querySelector('.icon');
            icon.classList.toggle('bi-caret-down-fill');
            icon.classList.toggle('bi-caret-up-fill');
        });
    });
</script>
        
{% endblock %}