.navbar .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px; /* Adjust as needed */
    padding: 8px 16px; /* Adjust for desired spacing */
    margin-left: 10px
}
