.navbar .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 4px;
    font-size: 15px;
}

.nav-item {
    margin: 5px;
}

.button {
    width : fit-content;
    padding : 3px;    
    font-size: 16px;
    margin : 5px;
    padding : 5px;
    border: 1px solid lightgray;
}
.button:hover {
    background-color: 157dd3;
    color: white;
    cursor:pointer;
}

.forminput {
    width: 70%;
    margin: 10px 0px 10px 0px;
    padding: 5px;
    font-family: Tahoma;
    font-style: normal;
}

.status-tag {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 12px;
    font-size: 14px;
    text-align: center;
    min-width: 80px;
}

.pending {
    background-color: #ffcc00;  /* Yellow */
}

.accepted {
    background-color: #28a745;  /* Green */
}

.rejected {
    background-color: #dc3545;  /* Red */
}

.not-applied {
    background-color: #6c757d;  /* Gray */
}
